
body{
font-family:Arial,Helvetica,sans-serif;
margin:0;
background:#0b1220;
color:white;
text-align:center;
}

.top{
padding:30px;
background:#020617;
}

.stats{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
margin:20px;
}

.card{
background:#1e293b;
padding:15px;
border-radius:10px;
min-width:110px;
font-size:18px;
}

.main{
margin:30px;
}

#clickButton{
font-size:50px;
padding:40px 90px;
border:none;
border-radius:15px;
cursor:pointer;
background:#22c55e;
color:white;
}

section{
margin:40px;
}

.shop-item{
background:#1e293b;
margin:10px auto;
padding:15px;
border-radius:10px;
width:340px;
}

button{
cursor:pointer;
padding:10px 15px;
border:none;
border-radius:8px;
margin:5px;
font-size:16px;
background:#3b82f6;
color:white;
}

.controls{
margin:40px;
}

input{
padding:8px;
border-radius:5px;
border:none;
margin:10px;
}
